[submodule "Protocol"]
	path = Protocol
	url = https://github.com/xentellion/Protocol
[submodule "Aspid"]
	path = Aspid
	url = https://github.com/xentellion/Aspid
[submodule "Frank"]
	path = Frank
	url = https://github.com/xentellion/Frank.git
[submodule "Strategist"]
	path = Strategist
	url = https://github.com/xentellion/Strategist.git
